# Common to all environments
Django==1.6
django-cached-authentication-middleware>=0.2.0
#git+https://github.com/Harvard-University-iCommons/django-auth-lti.git@v0.7#egg=django-auth-lti
git+https://github.com/Harvard-ATG/django-auth-lti@master#egg=django-auth-lti
django-braces>=1.3
mock>=1.0.1
nose==1.3.0

# For collections.OrderedDict: requires python 2.7, but shared hosting
# is still running python 2.6
ordereddict>=1.1

# For development:
#django-debug-toolbar>=1.0
