<form id="exerciseform" class="exerciseform">
    <fieldset>
        <legend>Exercise</legend>
        <div>
            <label for="exercise_prompt">Prompt</label>
            <textarea name="exercise_prompt" style="min-width: 450px"></textarea>
        </div>
        <div>
            <label for="key">Key:</label>
            <div class="js-keysignature-widget"></div>
        </div>
        <div>
            <label for="exercise_chord">Chord(s)</label>
            <input type="text" name="exercise_chords" style="min-width:450px" len>
        </div>
    </fieldset>
    <fieldset>
        <legend>Settings</legend>
        <div class="js-settings-widget"></div>
    </fieldset>
    <fieldset id="fieldset_groups">
        <legend>Organize</legend>
        <div>
            <label>Save to exercise group</label>
            <select name="exercise_group">
                <option value="">----</option>
            </select>
            or 
           <input type="text" name="new_exercise_group" id="new_exercise_group" placeholder="Enter group name...">
        </div>
    </fieldset>
    <div>
        <input id="submit_exercise" type="submit" value="Submit exercise" />
        <button id="cancel">Cancel</button>
    </div>
</form>
