<form id="exerciseform" class="exerciseform">
    <fieldset>
        <legend>Exercise</legend>
        <div>
            <label for="exercise_prompt">Prompt</label>
            <textarea name="exercise_prompt" style="min-width: 600px;min-height: 75px" placeholder="Enter text prompt to display with the exercise..."></textarea>
        </div>
        <div>
            <label for="key">Key:</label>
            <div class="js-keysignature-widget"></div>
        </div>
        <div>
            <label for="exercise_chord">Chord(s) <span class="btn exercise_chord_help_btn"><i class="ion-information-circled"></i></span></label>
            <div class="help exercise_chord_help" style="display:none">
                Write chords and pitches using a subset of <a href="http://www.lilypond.org/doc/v2.18/Documentation/notation/writing-pitches">LilyPond</a>.
                The key points are:
                <ul>
                    <li>Absolute octave entry.</li>
                    <li>A pitch name is specified using lowercase letters a through g. The note names c to b are engraved in the octave below middle C.</li>
                    <li>Other octaves may be specified with a single quote (') or comma (,) character. Each ' raises the pitch by one octave; each , lowers the pitch by an octave.</li>
                    <li>A sharp pitch is made by adding "s" to the note name. A flat pitch is made by adding "f" to the note name.</li>
                    <li>A chord is a sequence of pitches enclosed in angle brackets (e.g. &lt;c e g&gt;). A minimum of one chord must be entered.</li>
                    <li>Notes can be "hidden" by prefixing the pitch with an "x" (e.g. &lt;c xe xg&gt;).</li>
                </ul>
            </div>
            <textarea name="exercise_chords" style="min-width:600px;min-height: 75px" placeholder="Enter chord(s) in LilyPond format..."></textarea>
        </div>
    </fieldset>
    <fieldset>
        <legend>Settings</legend>
        <div class="js-settings-widget"></div>
    </fieldset>
    <fieldset id="fieldset_groups">
        <legend>Organize</legend>
        <div>
            <label>Save to exercise group</label>
            <select name="exercise_group">
                <option value="">----</option>
            </select>
            or 
           <input type="text" name="new_exercise_group" id="new_exercise_group" placeholder="Enter group name...">
        </div>
    </fieldset>
    <div>
        <input id="submit_exercise" type="submit" value="Submit exercise" />
        <button id="cancel">Cancel</button>
    </div>
</form>
