<div class="harmony-ui">

    <div class="left-panel-bed">
        <div id="tab-nav-1" class="tab-nav">
          <ul class="inst-tab">
            <li><a href="#" class="js-tab js-tab-left" data-tab-name="instruments">INSTRUMENT</a>
              <div class="tab-content-wrapper">
                  <div class="tab-content-inner">
                      <div class="tab-row js-instrument"></div>
                      <div class="tab-row js-keyboardsize"></div>
                      <div class="tab-row">
                          <label>
                              Keyboard shortcuts:
                            <input type="checkbox" name="keyboard_shortcuts" value="on" class="js-keyboardshortcuts" />
                        </label>
                      </div>
                  </div>
              </div>
             </li>
          </ul>

          <ul class="key-tab">
            <li><a href="#" class="js-tab js-tab-left" data-tab-name="keysignature">KEY &amp; SIGNATURES</a>
              <div class="tab-content-wrapper">
                <div class="tab-content-inner">
                  <div class="tab-row js-keysignature-widget"></div>
                </div>
               </div>
             </li>
          </ul>
        </div>
    </div>

    <div class="right-panel-bed">
        <div id="tab-nav-2" class="tab-nav">

          <ul class="midi-tab">
            <li><a href="#" class="js-tab js-tab-right" data-tab-name="midi">MIDI SOURCE</a>
              <div class="tab-content-wrapper">
                <div class="tab-content-inner">
                    <div class="tab-row">
                        <div class="label">MIDI in:</div>
                        <select class="js-select-midi-input" name="select_midi_input"></select>
                        <div class="label">MIDI out:</div>
                        <select class="js-select-midi-output" name="select_midi_output"></select><br/>
                        <button class="js-refresh-midi-devices">Refresh</button>
                    </div>
                </div>
               </div>
             </li>
          </ul>

          <ul class="note-tab">
            <li><a href="#" class="js-tab js-tab-right" data-tab-name="notation">NOTATION</a>
              <div class="tab-content-wrapper">
                <div class="tab-content-inner">
                    <div class="tab-row js-analyze-widget"></div>
                </div>
              </div>
             </li>
          </ul>

        </div>
    </div>

    <div id="staff-area">
		<div id="staff-text" class="hide"></div>
        <div id="staff-toolbar">
            <div class="icon-btn icon-btn-left icon-btn-open js-toggle-tabs"></div>
            <div class="icon-btn icon-btn-left icon-btn-help hide"></div>
            <a class="icon-btn icon-btn-right icon-btn-camera js-btn-screenshot" href="#" target="_blank" alt="Screenshot"> </a>
        </div>
		<canvas id="staff"></div>
    </div>

    <div id="piano"></div>

	<div id="theme-select"></div>
</div>
