<div id="settings" class="settings content-area">
	<h3>Key & Signature</h3>
	<div class="settings-section">
		<div class="settings-row js-keysignature-widget"></div>
	</div>

	<h3>Notation</h3>
	<div class="settings-section">
		<div class="settings-row js-analyze-widget"></div>
	</div>

	<h3>Instrument</h3>
	<div class="settings-section">
		<div class="settings-row js-instrument"></div>
		<div class="settings-row js-keyboardsize"></div>
		<div class="settings-row js-keyboardshortcuts"></div>
	</div>

	<h3>MIDI Source</h3>
	<div class="settings-section">
		<div class="settings-row">
			<div class="label">MIDI in:</div>
			<select class="js-select-midi-input" name="select_midi_input"></select>
			<div class="label">MIDI out:</div>
			<select class="js-select-midi-output" name="select_midi_output"></select><br/>
			<button class="js-refresh-midi-devices">Refresh</button>
		</div>
	</div>
</div>
