{% extends "__base.html" %}

{% block js_extra %}
<script>require(['app/main']);</script>

{% autoescape off %}
<script>
window.appConfig={"exercise":{{exercise_json}}};
</script>
{% endautoescape %}

{% endblock %}

{% block content %}
<div id="container" class="js-fade-in fade theme theme-downlights" style="opacity: 0;" data-theme="downlights" data-themes="downlights,concert,smoothblue,speakerwave">
    {% include "_header.html" %}
    {% include "_harmonyui.html" %}
    {% include "_footer.html" %}
</div>
<div class="js-fade-out fade ajax-loader ajax-loader-centered" style="top:33%;opacity: 1"></div>
</div>
{% endblock %}
