{% extends "base.html" %}

{% block css_extra %}
<link href="{{ STATIC_URL }}css/harmony.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block js_extra %}
<!--script>require(['app/main']);</script>-->
{% endblock %}

{% block content %}
<div id="container">
	<div class="header">
		<div class="icon-btn icon-btn-right icon-btn-info js-btn-info"></div>
		<h1>Harmony Lab</h1>
	</div>
    <pre style="background: #fff;color: #000">{% autoescape off %}{{exercise}}{% endautoescape %}</pre>
</div>
{% endblock %}
