{% extends "base.html" %}

{% block css_extra %}
<link href="{{ STATIC_URL }}css/harmony.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block js_extra %}
<script>require(['app/main']);</script>
{% endblock %}

{% block content %}
<div id="container" class="theme theme-downlights" data-theme="downlights">
	<div id="staff-wrapper">
		<div id="header">
			<h1>Harmony Lab</h1>
		</div>
		<div class="left-panel-bed">
			<div id="tab-nav-1" class="tab-nav">
			  <ul class="inst-tab">
				<li><a href="#" class="js-tab js-tab-left">INSTRUMENT</a>
				  <div class="tab-content-wrapper">
					  <div class="tab-content-inner">
						   <br /> 
							<select id="select_instrument"></select>
							<br /><br />
							Keyboard size: 
							<select id="select_keyboard_size" name="keyboard">
							<option value="25">25</option>
							<option value="37">37</option>
							<option value="49" selected="selected">49</option>
							<option value="88">88</option>
							</select>
							<br /><br />
							<label>Keyboard shortcuts:
								<input type="checkbox" id="keyboard_shortcuts" name="keyboard_shortcuts" value="on" />
							</label>
							<br /><br />
							Style: 
							<select name="player-style" disabled>
							<option value="singlefinger">Single Finger</option>
							<option value="Manual">Manual</option>
							</select>

							<div id="brackets" >
								<input name="" type="button" value="[" class="metroButton" disabled/>  
								<input name="" type="button" value="/" class="metroButton" disabled/>  
								<input name="" type="button" value="\" class="metroButton" disabled/> 
							</div> 

					  </div>
				  </div>
				 </li>
			  </ul>

			  <ul class="note-tab">
				<li><a href="#" class="js-tab js-tab-left">NOTATION</a>
				  <div class="tab-content-wrapper">
					<div class="tab-content-inner">
						<div id="analyze_widget"></div>
					</div>
				  </div>
				 </li>
			  </ul>
			</div><!-- end tab-nav-1 -->
		</div><!-- end left-panel-bed -->

		<div class="right-panel-bed">
			<div id="tab-nav-2" class="tab-nav">

			  <ul class="midi-tab">
				<li><a href="#" class="js-tab js-tab-right">MIDI SOURCE</a>
				  <div class="tab-content-wrapper">
					<div class="tab-content-inner">
						<br />
						<div class="label">MIDI in:</div>
						<select id="select_midi_input" name="select_midi_input"></select>
						<div class="label">MIDI out:</div>
						<select id="select_midi_output" name="select_midi_output"></select>
						<br />
						<button id="refresh_midi_devices">Refresh</button>
					</div>
				   </div>
				 </li>
			  </ul>

			  <ul class="key-tab">
				<li><a href="#" class="js-tab js-tab-right">KEY &amp; SIGNATURES</a>
				  <div class="tab-content-wrapper">
					<div class="tab-content-inner">
						<div id="key_signature_widget"></div>
					</div>
				   </div>
				 </li>
			  </ul>
			</div><!-- end #tab-nav-2 -->
		</div><!-- end .right-panel-bed -->
		<div id="staff-area">
			<div id="staff-toolbar">
				<div class="staff-btn staff-btn-info"></div>
				<div class="staff-btn staff-btn-open js-toggle-tabs"></div>
				<div class="staff-btn staff-btn-help hide"></div>
			</div>
			<!-------------------------------------------->
			<!--This is where the grand staff should go --> 
			<!-------------------------------------------->
		</div>
		<br class="clr" style="clear:both;" />
	</div><!-- end #staff-wrapper -->
		<div id="kb-wrapper">
			<div id="controller-wrapper">
				<div id="music-controls">
					<select name="demos">
						<option value="">- Play Demo -</option>
						<option value="bach">Bach Demo</option>
						<option value="mozart">Mozart</option>
						<option value="nugent">Ted Nugent</option>
						<option value="nelson">Willie Nelson</option>
					</select>
					<input name="play" 
						type="button" 
						value="&#x25B8;"
						onclick="this.value = (this.value === '\u25B8' ? '\u25FE' : '\u25B8');" />
					<input name="record"
						type="button" 
						value="&#x25CF;" 
						onclick="this.foo = !!!this.foo; this.style.color = (this.foo ? 'red': '');">
				</div>
				<div id="metronome-controls">
					<img src="{{ STATIC_URL }}img/metronome-wire24.png" style="height:20px; margin-top: 2px; float:left;" />
					<input name="bpm" type="text" size="3" maxlength="3" class="bpm-input" />
					<input name="play" type="button" value="&#x25B8;"
						onclick="this.value = (this.value === '\u25B8' ? '\u25FE' : '\u25B8');" />
				</div>
				<div id="transpose-controls">
					<img src="{{ STATIC_URL }}img/transpose1.png" height="20" align="top" /> 
					<select name="transposeNum">
						<option value="3">+3</option>
						<option value="2">+2</option>
						<option value="1">+1</option>
						<option value="0" selected>-0-</option>
						<option value="-1">-1</option>
						<option value="-2">-2</option>
						<option value="-3">-3</option>
					</select>
				</div>
			</div><!-- end #controller-wrapper -->
			<div id="keyboard-area">
				<div id="piano"></div>
			</div>
	</div><!-- end #kb-wrapper -->

	<div id="kb-pedals">
		<div class="pedal pedal-left"></div>
		<div class="pedal pedal-center"></div>
		<div class="pedal pedal-right"></div>
	</div>

	<br class="clr" style="clear:both" />

	<div id="theme-select" data-themes="downlights,concert,smoothblue,speakerwave"></div>
</div><!-- end #container -->	 
{% endblock %}
