{% extends "base.html" %}

{% block css_extra %}
<link href="{{ STATIC_URL }}css/harmony-styles.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block js_extra %}
<script>
function downlights() {
	document.getElementById('container').style.cssText = 'background: url({{ STATIC_URL }}img/Harmony-bkg.jpg) no-repeat; background-position: center;';
}
function concert() {
	document.getElementById('container').style.cssText = 'background: url({{ STATIC_URL }}img/Harmony1-bkg.jpg) center -20px no-repeat;';
}
function smoothblue() {
	document.getElementById('container').style.cssText = 'background: url({{ STATIC_URL }}img/bluelights.jpg) center 50px no-repeat;';
}
</script>

{# TODO: get raphaeljs to work with requirejs #}
<script src="{{ STATIC_URL }}js/lib/raphael.js"></script>
<script src="{{ STATIC_URL }}js/src/setup.js"></script>
{% endblock %}


{% block content %}
<div id="container" style="background:#748da5 url('{{ STATIC_URL }}img/Harmony-bkg.jpg') center top no-repeat;"> 

    <div id="staff-wrapper">
    
        <div id="header">
            <h1>Harmony Lab</h1>
        </div>
        
        <div class="left-panel-bed">
                
            <div id="tab-nav-1" class="tab-nav">
    
              <ul class="inst-tab">
                <li><a href="#">INSTRUMENT</a>
                  <div class="tab-content-wrapper">
                      <div class="tab-content-inner">
    
                       <br /> 
                            <select id="select_instrument" name="instrument">
                            <option value="Acoustic Grand Piano">Piano</option>
                            <option value="Harpsichord">Harpsichord</option>
                            <option value="Drawbar Organ">Organ</option>
                            </select>
                        <br /><br />
                            Keyboard size: 
                            <select id="select_keyboard_size" name="keyboard">
                            <option value="25">25</option>
                            <option value="37">37</option>
                            <option value="49" selected="selected">49</option>
                            <option value="88">88</option>
                            </select>
                            <br /><br />
                            Style: 
                            <select name="player-style" disabled>
                            <option value="singlefinger">Single Finger</option>
                            <option value="Manual">Manual</option>
                            </select>

                            <div id="brackets" >
                                <input name="" type="button" value="[" class="metroButton" disabled/>  
                                <input name="" type="button" value="/" class="metroButton" disabled/>  
                                <input name="" type="button" value="\" class="metroButton" disabled/> 
                            </div> 
    
                      </div>
                  </div>
                 </li>
              </ul>
     
              <ul class="note-tab">
                <li><a href="#">NOTATION</a>
                  <div class="tab-content-wrapper">
                    <div class="tab-content-inner">
                        	<br />
                            <select name="" disabled>
                            <option value="piano">Analysis</option>
                            <option value="harpsichord">ThoroughBass</option>
                            </select>
                        <br /><br />
                            
                            <select name="notation" disabled>
                            <option value="25">Roman Numeral</option>
                            <option value="37">Type 2</option>
                            <option value="49">Type 3</option>
                            </select>
                            
                            <div id="notation-checkboxes">
                                <br /><input name="root" type="checkbox" value="Root" disabled/> Root
                                <br /><input name="doublings" type="checkbox" value="Doublings" disabled/> Doublings
                                <br /><input name="tritones" type="checkbox" value="Tritones" disabled/> Tritones
                                <br /><input name="Chords" type="checkbox" value="8ths & 5ths" disabled/> 8ths &amp; 5ths
                            </div>
    
                    </div>
                  </div>
                 </li>
              </ul>
     
     
            </div><!-- end tab-nav-1 -->
                        
        </div><!-- end left-panel-bed -->
        
    
        <div class="right-panel-bed">
        
            <div id="tab-nav-2" class="tab-nav">
    
              <ul class="midi-tab">
                <li><a href="#">MIDI SOURCE</a>
                  <div class="tab-content-wrapper">
                    <div class="tab-content-inner">
						<br />
						<select id="midi_input" name="midi_input"></select>
						<br />
                    </div>
                   </div>
                 </li>
              </ul>
              
              <ul class="key-tab">
                <li><a href="#">KEY &amp; SIGNATURES</a>
                  <div class="tab-content-wrapper">
                    <div class="tab-content-inner">
                    	<br />
                        
                            <select id="select_key_name">
								<option value="F">F major</option>
								<option value="C" selected>C major</option>
								<option value="G">G major</option>
								<option value="D">D major</option>
								<option value="A">A major</option>
								<option value="E">E major</option>
								<option value="B">B major</option>
                           </select>
                           
						   <div class="sig-lock"> 
							   <input name="key_and_signature_locked" type="checkbox" value="lock"/> Lock
						   </div>
                        
                            <select id="select_key_signature">
								<option value="#">#</option>
								<option value="#">#</option>
								<option value="##">##</option>
								<option value="###">###</option>
								<option value="####">####</option>
								<option value="#####">#####</option>
                            </select>
    
                    </div>
                   </div>
                 </li>
              </ul>
    
            </div><!-- end #tab-nav-2 -->
    
        </div><!-- end .right-panel-bed -->
    
        <div id="staff-area">
            
            <!--This is where the staffs go --> 
            
        </div>
        
        <br class="clr" style="clear:both;" />
    
    
    </div><!-- end #staff-wrapper -->
    
    <div id="kb-wrapper">
            
            <div id="controller-wrapper">
            
                <div id="music-controls">
                
                    <select name="demos">
                    <option value="bach">Bach Demo</option>
                    <option value="mozart">Mozart</option>
                    <option value="nugent">Ted Nugent</option>
                    <option value="nelson">Willie Nelson</option>
                   </select>
                   
                   <input name="play" type="button" value="P" />
                   <input name="stop" type="button" value="S"/>
                   <input name="record" type="button" value="R" />
               </div>
               <div id="metronome-controls">
				   <img src="{{ STATIC_URL }}img/metronome-wire24.png" style="height:20px; margin-top: 2px; float:left;" />
                    <input name="bpm" type="text" size="3" maxlength="3" class="bpm-input" />
                    <input name="play" type="button" value="P" class="metroButton"/>                   
                    &nbsp; &nbsp;
                </div>
                <div id="chosen">100</div>
                <div id="transpose-controls">
					<img src="{{ STATIC_URL }}img/transpose1.png" height="20" align="top" /> 
                    <select name="transposeNum">
                      <option value="3">+3</option>
                      <option value="2">+2</option>
                      <option value="1">+1</option>
                      <option value="0" selected>-0-</option>
                      <option value="-1">-1</option>
                      <option value="-2">-2</option>
                      <option value="-3">-3</option>
                    </select>
                </div>
            </div><!-- end #controller-wrapper -->
           
            
            <div id="kb-scroller" style="visibility: hidden;">
				<img src="{{ STATIC_URL }}img/kb-scroller.png" />
            </div>
                
            <div id="keyboard-area">
				<!--img src="{{ STATIC_URL }}img/49keys.png" /-->
				<div id="piano"></div>
            </div>
            
    </div><!-- end #kb-wrapper -->
        
    <div id="kb-pedals">
    
    	<!-- 
        
        <input name="play" type="button" value="Pedal1" class="active-pedal"/>
        <input name="play" type="button" value="Pedal2" />
        <input name="play" type="button" value="Pedal3" />
        -->
        
		<img src="{{ STATIC_URL }}img/Harmony-Pedals-LEFT-Brass2.png" />
		<img src="{{ STATIC_URL }}img/Harmony-Pedals-CENTER-Brass2.png" />
		<img src="{{ STATIC_URL }}img/Harmony-Pedals-RIGHT-Red2.png" />
        
    </div>
        
  	<br class="clr" style="clear:both;" /><br />
    
    <div id="bg-select">
		<img src="{{ STATIC_URL }}img/Harmony1-bkg.jpg" onclick="concert();" />
		<img src="{{ STATIC_URL }}img/Harmony-bkg.jpg" onclick="downlights();" />
		<img src="{{ STATIC_URL }}img/bluelights.jpg" onclick="smoothblue();" />
    </div>
    
</div><!-- end #container -->    
{% endblock %}
