{% extends "base.html" %}

{% block css_extra %}
<link href="{{ STATIC_URL }}css/harmony.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block js_extra %}
<script>require(['app/main']);</script>
{% endblock %}

{% block content %}
<div id="container" class="theme theme-downlights" data-theme="downlights">

	<div class="header">
		<div class="icon-btn icon-btn-right icon-btn-info js-btn-info"></div>
		<h1>Harmony Lab</h1>
	</div>

	<div class="left-panel-bed">
		<div id="tab-nav-1" class="tab-nav">
		  <ul class="inst-tab">
			<li><a href="#" class="js-tab js-tab-left">INSTRUMENT</a>
			  <div class="tab-content-wrapper">
				  <div class="tab-content-inner">
					  <div class="tab-row">
						<select id="select_instrument"></select>
					  </div>
					  <div class="tab-row">
						Keyboard size: 
						<select id="select_keyboard_size" name="keyboard">
						<option value="25">25</option>
						<option value="37">37</option>
						<option value="49" selected="selected">49</option>
						<option value="88">88</option>
						</select>
					  </div>
					  <div class="tab-row">
						<label>Keyboard shortcuts:
							<input type="checkbox" id="keyboard_shortcuts" name="keyboard_shortcuts" value="on" />
						</label>
					  </div>
				  </div>
			  </div>
			 </li>
		  </ul>

		  <ul class="key-tab">
			<li><a href="#" class="js-tab js-tab-left">KEY &amp; SIGNATURES</a>
			  <div class="tab-content-wrapper">
				<div class="tab-content-inner">
				  <div class="tab-row">
					<div id="key_signature_widget"></div>
				  </div>
				</div>
			   </div>
			 </li>
		  </ul>
		</div>
	</div>

	<div class="right-panel-bed">
		<div id="tab-nav-2" class="tab-nav">

		  <ul class="midi-tab">
			<li><a href="#" class="js-tab js-tab-right">MIDI SOURCE</a>
			  <div class="tab-content-wrapper">
				<div class="tab-content-inner">
					<div class="tab-row">
						<div class="label">MIDI in:</div>
						<select id="select_midi_input" name="select_midi_input"></select>
						<div class="label">MIDI out:</div>
						<select id="select_midi_output" name="select_midi_output"></select>
						<br />
						<button id="refresh_midi_devices">Refresh</button>
					</div>
				</div>
			   </div>
			 </li>
		  </ul>

		  <ul class="note-tab">
			<li><a href="#" class="js-tab js-tab-right">NOTATION</a>
			  <div class="tab-content-wrapper">
				<div class="tab-content-inner">
					<div class="tab-row">
						<div id="notation_widget"></div>
					</div>
				</div>
			  </div>
			 </li>
		  </ul>

		</div>
	</div>

	<div id="staff-area">
		<div id="staff-toolbar">
			<div class="icon-btn icon-btn-left icon-btn-open js-toggle-tabs"></div>
			<div class="icon-btn icon-btn-left icon-btn-help hide"></div>
			<a class="icon-btn icon-btn-right icon-btn-camera js-btn-screenshot" href="#" target="_blank" alt="Screenshot"> </a>
		</div>
	</div>

	<div id="piano"></div>

	<br class="clr" style="clear:both" />

	<div id="theme-select" data-themes="downlights,concert,smoothblue,speakerwave"></div>
</div>

{% endblock %}
