@charset "UTF-8";

html, body, h1, h2, h3, h4, div, p  {
	margin: 0; 
	padding: 0; 
	border-width: 0;
}
p {padding: .4em 0;}

body {
  font: 90% Helvetica, Verdana, Arial, sans-serif;
  text-align: center;
  background:#000;
}
#container {
	width: 960px;
	margin: 0 auto;
	margin-bottom: 30px;
	text-align:left;
	position:relative;
}
.header {
	background:#000 url(../img/harmony-logo.jpg) no-repeat;
	margin-bottom: 20px;
	padding: 10px 0px 10px 70px;
}
.header > h1, .header > h2 {
	color: white;
	font-family: Helvetica, "Trebuchet MS", Arial,sans-serif; 
	font-weight:normal; 
	xpadding-top: 5px;
}
.ajax-loader {
	background: transparent url(../img/ajax-loader.gif) no-repeat;
	width: 126px;
	height: 22px;
}
.ajax-loader-centered {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -63px;
	z-index: 100;
}
.fade {
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.fade-in { opacity: 1; }
.fade-out { opacity: 0; }

.qwerty-keyboard-legend {
	background: url(../img/keyboard-shortcut-legend4.png) no-repeat;
	width: 881px;
	height: 404px;
}

#staff-area { 
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.51);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.51);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.51);
	height:402px;
	width: 540px;
	background-color: rgb(238, 238, 221);
	margin: 0 auto;
	position:relative;
	z-index:0;
	padding:0;
	overflow:hidden;
	overflow-y:auto;
}
#staff-toolbar {
    position: absolute;
	height: 35px;
	width: 100%;
	padding: 0px;
	z-index: 1;
}
#staff-text+#staff-toolbar {
    top: 42px;
}
#staff-text.hide+#staff-toolbar {
    top: 0px;
}
canvas#staff {
	position: static;
	left: 0;
	z-index: 1;
}

#staff-text {
	position: absolute;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 2;
    /*
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,.75);
    */
}
#staff-text .exercise-text-content.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0s linear, height 0s linear;
    height: 100%;
}
#staff-text .exercise-text-content.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .25s, opacity .25s linear, height .25s linear;
    height: 0;
    padding: 0;
}
#staff-text .exercise-text {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
#staff-text .exercise-text-title {
	font-weight: bold;
	font-size: 24px;
    height: 32px;
    z-index: 3;
}
#staff-text .exercise-text-content {
	font-weight: normal;
	font-size: 14px;
}
#staff-text .exercise-text-content,
#staff-text .exercise-text-title {
    padding: 5px 10px;
	background-color: rgba(34,34,34,.8);
    color: rgb(224,224,224);
}
#staff-text .exercise-btns {
	display: block;
	margin: 15px 0;
}
#staff-text .exercise-next-btn { color: #fff; margin-left: 10px; }
#staff-text .exercise-next-btn:hover { color: red; }

.icon-btn {
	background: url(../img/icon-btn-sprite.png) no-repeat;
	height: 25px;
	margin: 4px 0 0 8px;
}
.icon-btn-left {
	float: left;
}
.icon-btn-right {
	float: right;
}
.icon-btn-open { background-position: -10px -50px; width: 50px; }
.icon-btn-open:hover { background-position: -10px -150px; width: 50px; }
.icon-btn-close { background-position: -110px -50px; width: 50px; }
.icon-btn-close:hover { background-position: -110px -150px; width: 50px; }
.icon-btn-info { background-position: -210px -50px; width: 25px; }
.icon-btn-info:hover { background-position: -210px -150px; width: 25px; }
.icon-btn-help { background-position: -310px -50px; width: 25px; }
.icon-btn-help:hover { background-position: -310px -150px; width: 25px; }
.icon-btn-camera { background-position: -410px -50px; width: 50px; }
.icon-btn-camera:hover { background-position: -410px -150px; width: 50px; }

.tab-nav {
  margin-top: 0px;
}
.tab-nav li { 
  margin-bottom: 1px;
}
.tab-content-wrapper {
	position: relative;
	font-size:.9em;
}
.tab-content-inner {
	position: absolute;
	top: 10px;
	padding: 0;
	margin: 0;
}
.right-panel-bed .tab-content-inner {
	left: 10px;
	text-align: left;
}
.left-panel-bed .tab-content-inner {
	right: 10px;
	text-align: right;
}
.tab-content-inner > .tab-row {
	margin: 0 0 5px 0;
	padding: 0;
}

.transcript-wrapper {
	position: relative;
}
.transcript-wrapper > canvas {
	position: absolute;
	top: 0;
	left: 0;
}

/*--------------------------------------------------*/
/* Left side tabs of staff area */
.left-panel-bed {
	width: 200px;
	padding: 0 0;  
	text-align: left;
	position: absolute;
}

#tab-nav-1.tab-nav ul {
	position: relative;
	width: 200px;
	margin-left: 145px;
	margin-top: 0;
	margin-bottom:0;
	padding-left: 0;
	list-style-type: none;
}

#tab-nav-1.tab-nav a {
	display: block;
	margin:88px -60px 0 -51px;
	width: 200px;
	float: left;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	color: #000;
	
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
	
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;

}
#tab-nav-1.tab-nav a.expanded {
	background-position: 2px -204px;
	width: 200px;
}

#tab-nav-1 .tab-content-wrapper {
	width: 172px; 
	height:192px; 
	margin-left: 61px; 
	padding: 4px;
}

.sig-lock {
	background: url(../img/v-line.png) 1px 0 repeat-y; 
	line-height: 3em;
	margin-left:  50px;
}

.tab-content-inner .notation-checkboxes input {
	margin: 2px 5px;
}

/*--------------------------------------------------*/
/* Right side tabs of staff area */
.right-panel-bed {
	width: 200px;
	position: absolute;
	right: 210px;
	top: 59px;
	padding:15px 0;
}

#tab-nav-2.tab-nav ul {
  float: left; 
  margin-left: 0px;
  margin-top: 0;
  margin-bottom:0;
  padding-left: 0;
  list-style-type: none;
}

#tab-nav-2.tab-nav ul.notation-checkboxes {
	float: none;
	display: block;
}
#tab-nav-2 .tab-content-inner ul.notation-checkboxes ul {
	margin-left: 25px;
}
#tab-nav-2 .tab-content-inner ul.notation-checkboxes li.separator {
	border-top: 1px solid #999;
	padding: 0px;
}

#tab-nav-2.tab-nav a {
	display: block;
	margin: 88px -112px 0 -50px;
	width: 200px;
	float: right;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	color: #000;
	
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;

}
#tab-nav-1.tab-nav a:hover,
#tab-nav-2.tab-nav a:hover {
	background: url(../img/trans-bkg-hover.png) repeat;
}

#tab-nav-2.tab-nav a.expanded {
	left: 338px;
	position: absolute;
}

#tab-nav-2 .tab-content-wrapper {
	width: 176px; 
	height: 200px; 
	padding: 0px;
	margin-left: 24px; 
}

.tab-nav a, 
.tab-content-wrapper {
	background: url(../img/trans-bkg.png) repeat;
	xopacity: 0.85;
}

.clr {	
	clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: auto;
    visibility: hidden;
}

.tab-content-inner select {
	max-width: 125px;
}

/*--------------------------------------------------*/
/* On-screen keyboard */

.keyboard-wrapper {
	width: 888px;
	margin: 30px auto 0;
	border: 1px solid #222;
	-webkit-border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	background:#222 url(../img/kb-controller-bkg2.png) repeat-x;	
	position:relative;
	z-index: 10;

}
.keyboard-controls {
	height: 25px;
	margin: 0px;
	padding:5px 0;
	border-bottom: 1px solid #222;

}
.transpose-control {
	width: 150px;
	margin:2px auto;
	color:white;
}
.transpose-icon {
	background: transparent url(../img/transpose-arrows.png) no-repeat;
	width: 28px;
	height: 20px;
}
.metronome-control {
	float:right;
	color:#fff;
	margin-right: 25px;
}
.metronome-control-input {
	width: 30px; 
	margin: 0 10px;
}
.metronome-icon {
	background: transparent url(../img/metronome_sprite.png) no-repeat;
	background-position: -50px -10px;
	width: 19px;
	height: 20px;
}
.metronome-icon:hover {
	background-position: -50px -109px;
}
.metronome-icon:active, .metronome-icon-active {
	background-position: -50px -199px;
}
.metronome-led {
	background: transparent url(../img/metronome-led.png) no-repeat;
	background-position: 0 0;
	width: 8px;
	height: 8px;
	margin-top: 6px;
}
.metronome-led-on {
	background-position: -100px 0px;
}
#metronome-audio {
	display: hidden;
}
.keyboard-area {
	margin:0 10px;
	padding-bottom: 6px;
}
.keyboard-pedals {
	margin: 0 auto;
	width: 172px; 
}
.keyboard-pedals .pedal {
	float: left;
	display: block;
	background: url(../img/pedal-sprite.png) no-repeat;
	width: 61px; /* NOTE: center pedal overrides the width */
	height: 77px;
}
.keyboard-pedals .pedal-left { background-position: -21px -22px; }
.keyboard-pedals .pedal-left:hover { background-position: -21px -121px; }
.keyboard-pedals .pedal-left:active, .keyboard-pedals .pedal-left.pedal-active { background-position: -21px -221px; }

.keyboard-pedals .pedal-center { background-position: -121px -22px; width: 50px; }
.keyboard-pedals .pedal-center:hover { background-position: -121px -121px; width: 50px }
.keyboard-pedals .pedal-center:active, .keyboard-pedals .pedal-center.pedal-active { background-position: -121px -221px; width: 50px; }

.keyboard-pedals .pedal-right { background-position: -221px -22px; }
.keyboard-pedals .pedal-right:hover { background-position: -221px -121px }
.keyboard-pedals .pedal-right:active, .keyboard-pedals .pedal-right.pedal-active { background-position: -221px -221px }

/*--------------------------------------------------*/
/* Background image selection */

.theme-downlights {
	background:#000 url('../img/Harmony-bkg.jpg') center no-repeat;
}
.theme-concert {
	background:#000 url('../img/Harmony1-bkg.jpg') center no-repeat;
}
.theme-smoothblue {
	background:#000 url('../img/bluelights.jpg') center no-repeat;
}
.theme-speakerwave {
	background:#000 url('../img/speakerwave.jpg') center no-repeat;
}
ul.theme-thumbnails {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.theme-thumbnails li.theme-thumbnail {
    display: block;
    float: left;
	border: 1px solid #666;
	width: 20px;
	height: 20px;
	padding: 0;
    margin: 0;
	background-size: 100%;
	cursor:pointer;
}
ul.theme-thumbnails li.theme-thumbnail:hover {
    border: 1px solid #fff;
}
ul.theme-thumbnails li.theme-thumbnail:not(:first-child) {
    margin-left: 10px;
}
#theme-select { 
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 0 -30px 0;
}

/*--------------------------------------------------*/
/* Modals */

.modal {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: opacity 500ms ease-in;
	-moz-transition: opacity 500ms ease-in;
	transition: opacity 500ms ease-in;
	z-index: 10000;
}
.modal.close {
	opacity:0;
	pointer-events: none;
}
.modal.open {
	opacity:1;
	pointer-events: auto;
}
.modal > div {
	min-width: 400px;
	max-width: 820px;
	position: relative;
	margin: 50px auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
	text-align: left;
}
.modal-title {
	border-bottom: 1px solid #999;
	padding: 4px 0;
	margin: 0 0 4px 0;
}
.modal-body {
	line-height: 1.4em;
	max-height: 615px;
	overflow-y: auto;
	overflow-x: hidden;
}
.modal-close-btn {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.modal-close-btn:hover { background: #00d9ff; }

/*--------------------------------------------------*/
/* Utilities */

.hide { display: none; }
