@charset "UTF-8";

html, body, h1, h2, h3, h4, div, p  {
	margin: 0; 
	padding: 0; 
	border-width: 0;
}
p {padding: .4em 0;}

body {
  font: 90% Helvetica, Verdana, Arial, sans-serif;
  text-align: center;
  background:#000;
}
#container {
	background:#000 url('../img/Harmony1-bkg.jpg') center -20px no-repeat;	
	width: 960px;
	margin: 0 auto;
	margin-bottom: 30px;
	position:relative;
	text-align:left;
}

#header {
	margin-bottom: 20px;
	padding: 10px 70px;
	background:#000 url(../img/harmony-logo.jpg) no-repeat;
	color:white;
}

#header h1, h2 {
	font-family: Helvetica, "Trebuchet MS", Arial,sans-serif; 
	font-weight:normal; 
	xpadding-top: 5px;
}

#staff-area { 
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.51);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.51);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.51);
	height:400px;
	width: 540px;
	background-color: rgb(238, 238, 221);
	margin: 0 auto;
	position:relative;
	z-index:10;
	padding:0;
}
#staff-toolbar {
	position: absolute;
	top: 0;
	left: 0;
	height: 35px;
	padding: 5px 0px;
}
#staff-toolbar .staff-btn {
	float: left;
	background: url(../img/staff-btn-sprite.png) no-repeat;
	height: 25px;
	margin: 4px 0 0 4px;
}
#staff-toolbar .staff-btn:first-child  {
	margin-left: 8px;
}
#staff-toolbar .staff-btn-open { background-position: -10px -50px; width: 50px; }
#staff-toolbar .staff-btn-open:hover { background-position: -10px -150px; width: 50px; }
#staff-toolbar .staff-btn-close { background-position: -110px -50px; width: 50px; }
#staff-toolbar .staff-btn-close:hover { background-position: -110px -150px; width: 50px; }
#staff-toolbar .staff-btn-info { background-position: -210px -50px; width: 25px; }
#staff-toolbar .staff-btn-info:hover { background-position: -210px -150px; width: 25px; }
#staff-toolbar .staff-btn-help { background-position: -310px -50px; width: 25px; }
#staff-toolbar .staff-btn-help:hover { background-position: -310px -150px; width: 25px; }
#staff-area canvas {
	position: absolute;
	top: 35px;
	left: 0;
}

.tab-nav {
  margin-top: 0px;
}
.tab-nav li { 
  margin-bottom: 1px;
}


/*--------------------------------------------------*/
/* Left side tabs of staff area */
.left-panel-bed {
	width: 200px;
	margin: 0 auto;
	padding: 15px 0;  
	text-align: left;
	float:left;
}

#tab-nav-1.tab-nav ul {
	position: relative;
	float: left; 
	width: 200px;
	margin-left: 145px;
	margin-top: 0;
	margin-bottom:0;
	padding-left: 0;
	list-style-type: none;
}

#tab-nav-1.tab-nav a {
	display: block;
	margin:78px -60px 0 -41px;
	width: 180px;
	float: left;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	color: #000;
	
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
	
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;

}
#tab-nav-1.tab-nav a.expanded {
	background-position: 2px -204px;
	width: 180px;
}

#tab-nav-1 .tab-content-wrapper {
	width: 172px; 
	height:172px; 
	margin-left: 61px; 
	padding: 4px;
}

#tab-nav-1 .tab-content-inner {
	margin: 4px;
	xmargin-left: -10px;
	xdisplay:block;
	font-size: .8em;
	line-height: 1.3em;
}

#tab-nav-1 .tab-content-inner select {
	float: right;
	margin-right: 15px;
	margin-top: -2px;
	margin-bottom: 10px;
}
#tab-nav-2 ul.midi-tab .tab-content-inner select {
	margin-top: -2px;
	margin-bottom: 10px;
}
#tab-nav-2 ul.midi-tab .tab-content-inner .label {
	padding-bottom: 5px;
}

.sig-lock {
	background: url(../img/v-line.png) 1px 0 repeat-y; 
	line-height: 3em;
}
#tab-nav-1 #brackets {
	width: 120px;
	margin: 10px auto;
}
#tab-nav-1 .tab-content-inner #notation-checkboxes {
	margin-left: 25px;
}
#tab-nav-1 .tab-content-inner #notation-checkboxes input {
	margin: 2px 5px;
}

/*--------------------------------------------------*/
/* Right side tabs of staff area */
.right-panel-bed {
	width: 200px;
	position: absolute;
	right: 210px;
	top: 75px;
	padding:15px 0;
}

#tab-nav-2.tab-nav ul {
  position: relative;
  float: left; 
  width: 200px;
  margin-left: 0px;
  margin-top: 0;
  margin-bottom:0;
  padding-left: 0;
  list-style-type: none;
}

#tab-nav-2.tab-nav a {
	display: block;
	margin:78px -104px 0 -40px;
	width: 180px;
	float: right;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	color: #000;
	
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;

}
#tab-nav-1.tab-nav a:hover,
#tab-nav-2.tab-nav a:hover {
	background: url(../img/trans-bkg-hover.png) repeat;
}

#tab-nav-2.tab-nav a.expanded {
	left: 334px;
	position: absolute;
}

#tab-nav-2 .tab-content-wrapper {
	width: 180px; 
	height:180px; 
	padding: 0px;
	margin-left: 12px; 
}
#tab-nav-2 .tab-content-inner {
	margin: 2px 4px 4px 24px;
	display:inline-block;
	font-size: .8em;

}


.tab-nav a, 
.tab-content-wrapper {
	background: url(../img/trans-bkg.png) repeat;
	xopacity: 0.85;
}

.clr {	
	clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: auto;
    visibility: hidden;
}

/*--------------------------------------------------*/
/* On-screen keyboard */

#kb-wrapper {
	width: 888px;
	margin: 30px auto 0;
	border: 1px solid #222;
	-webkit-border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	background:#222 url(../img/kb-controller-bkg2.png) repeat-x;	
	position:relative;
	z-index: 10;

}
#controller-wrapper {
	height: 25px;
	margin: 0px;
	padding:5px 0;
	border-bottom: 1px solid #222;

}

#music-controls {
	padding:0 10px;
	float:left;
	}

#transpose-controls {
	width: 150px;
	margin:2px auto;
	color:white;
	}

#metronome-controls {
	width:110px;
	float:right;
	xpadding:0 10px;
	color:#fff;
}

.bpm-input {
	width: 30px; 
	float:left;
	margin-left: 5px;
	margin-right: 5px;
}
.metroButton {
	float:left;
	margin-left: 5px;
}

#keyboard-area {
	margin:0 10px;
	padding-bottom: 6px;
	overflow:hidden;
	
}


/*--------------------------------------------------*/
/* Pedals */
#kb-pedals {
	margin: 0 auto;
	width: 182px; /* left (65px) + center (52px) + right (65px) */
}
#kb-pedals .pedal {
	float: left;
	display: block;
	width: 61px; /* note: center pedal overrides this */
	height: 79px;
	background: url(../img/pedal-sprite.png) no-repeat;
}
#kb-pedals .pedal-left { background-position: -21px -21px; }
#kb-pedals .pedal-left:hover { background-position: -21px -121px; }
#kb-pedals .pedal-left:active, #kb-pedals .pedal-left.pedal-active { background-position: -21px -221px; }

#kb-pedals .pedal-center { background-position: -121px -21px; width: 50px; }
#kb-pedals .pedal-center:hover { background-position: -121px -121px; width: 50px }
#kb-pedals .pedal-center:active, #kb-pedals .pedal-center.pedal-active { background-position: -121px -221px; width: 50px; }

#kb-pedals .pedal-right { background-position: -221px -21px; }
#kb-pedals .pedal-right:hover { background-position: -221px -121px }
#kb-pedals .pedal-right:active, #kb-pedals .pedal-right.pedal-active { background-position: -221px -221px }

/*--------------------------------------------------*/
/* Background image selection */

#bg-select { margin-left: 10px;}
#bg-select img {
	border:1px solid #666;
	padding:0;
	height: 20px;
	width:20px;
	cursor:pointer;
}

/*this is only for webkit, not opera*/
input[type='range'] {  
	-webkit-appearance: none;
	-webkit-border-radius: 0px;  
	background-image: -webkit-linear-gradient(top, #000000, #333333, #555555);
	width:805px;
	height:15px;
}  

/*--------------------------------------------------*/
/* Utilities */
.hide { display: none; }
