<!-- Work in progress. In-browser exercise management not yet a feature. -->

{% extends "__base.html" %}

{% block js_extra %}
<script>
require(['app/main']);
</script>
{% endblock %}

{% block content %}
<div id="container">
	{% include "_header.html" %}
	{% include "_menu.html" %}
	{% include "_notifications.html" %}
	<div class="content-area" style="padding: 1em 1em 2em 1em">
		<h1>Manage Exercises</h1>
		{% if course_label|length %}<div style="color: #666">{{course_label}}</div>{% endif %}
		<div id="managetabs">
			<ul>
				<li><a href="#tab-exercise-form">Create Exercise</a></li>
				<li><a href="#tab-exercise-list">List Exercises</a></li>
			</ul>
			<div id="tab-exercise-form">
			</div>
			<div id="tab-exercise-list">
			</div>
		</div>
	</div>
	{% include "_footer.html" %}
</div>
{% endblock %}
